html {
    background-color: #191919;;
}
body {
    margin: 3.9vh 4vw 3.9vh 4vw;
}

.vaults-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-weight: 700;
  color: rgb(140, 140, 140);
}

td,
th {
  border-top: 1px solid rgb(71, 71, 71);
  text-align: left;
  padding: 30px 30px;
  font-size: 1.25rem;
  font-family: "Gilroy";
  font-style: normal;
}

td {
  font-weight: 600;
  color: #fff;
}

.item:hover,
.item:active {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
.mobile-detail {
  display: none;
}
.mobile-detail-btn {
  display: none;
}
.empty-cell {
  padding-top: 15px;
  font-size: 1rem;
}
.cell {
  padding-top: 15px;
  font-size: 1rem;
}
.ticker {
  color: rgb(140, 140, 140);
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
}
.vault-image {
  width: 24px;
  height: 24px;
  object-fit: cover; /* Ensure the image covers the area, adjust as needed */
  margin-right: 10px; /* Space between image and name */
  border-radius: 50%; /* Makes the image circular */
  background-color: #fff;
}
.expandVaultMobile {
  display: none;
}
.fmcap-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
tr:last-of-type td {
  border-bottom: 1px solid rgb(71, 71, 71); /* Adds bottom border to the last row */
}
.label-text {
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1300px) {
  td,
  th {
    padding: 30px 15px;
  }
}
@media (max-width: 1100px) {
  td,
  th {
    padding: 30px 10px;
  }
}

@media (max-width: 868px) {
  .desktop {
    display: none;
  }
  .mobile-detail {
    display: flex;
    flex-direction: column;
  }
  .mobile-detail-btn {
    display: table-row;
    width: 100%;
  }
  .fmcap {
    text-align: right;
  }
  .fmcap-wrapper {
    justify-content: flex-end;
  }
  td,
  th {
    padding: 20px 10px;
    font-size: 1rem;
  }
  .expandVaultMobile {
    display: flex;
    width: 10px;
    height: 5px;
    margin-left: 5px;
    background-image: url("~/assets/expandMobileList.svg");
  }
}

@media (max-width: 767px) {
    body {
        margin: 0;
    }
}

@media (max-width: 500px) {
  td,
  th {
    padding: 20px 20px;
  }
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900; /* Adjusted for visual consistency, consider custom value */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900; /* Adjusted for visual consistency, consider custom value */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  